[ ca ]
default_ca = myCA

[ myCA ]
dir = .
new_certs_dir = .

database = ./index.txt
serial = ./serial.txt

private_key = ca_privkey.pem
certificate = ca_certificate.pem

default_md = sha256
policy = myCA_policy

[ myCA_policy ]
countryName = supplied
stateOrProvinceName = supplied
organizationName = supplied
commonName = supplied
organizationalUnitName = optional
commonName = supplied
